
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <mat-grid-list cols="2" rowHeight="100%">
    <mat-grid-tile>
      <div class="right" >
        <app-form-message name="user1"></app-form-message>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="left" >
        <app-form-message name="user2"></app-form-message>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</body>
</html>
